body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:blue;
  padding:10px 20px;
}

.navbar .logo {
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: white;
  
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.content {
  padding: 20px;
}
